.containerCard {
  margin: 10px 5px 5px 30px;
  border: none;
  border-radius: 15px;
}

.linkCard {
  text-decoration: none;
  color: teal;
}

.postDate {
  font-size: 12px;
  font-family: "Josefin Slab", serif;
  color: rgb(124, 122, 122);
}
