.login {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  background: #f08080;
}

.loginTitle {
  font-size: 40px;
  font-family: "Lora", serif;
}

.alertError {
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
}
.loginForm {
  margin-top: 20px;
}

.botonLogin {
  margin-top: 20px;
  padding: 10px;

  width: 200px;
}

.botonLogin:disabled {
  cursor: not-allowed;
  background-color: coral;
}
.botonRegister {
  margin-top: 20px;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;

  width: 100px;
  color: inherit;
}
.botonLink {
  text-decoration: none;
  color: aqua;
}
.botonLink:hover {
  color: #f08080;
}

@media (max-width: 500px) {
  .botonRegister {
    width: 70px;
  }
  .botonLogin {
    width: 120px;
  }
}
